<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-45</integer>
		<key>G</key>
		<integer>-40</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>Q</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-92</integer>
		<key>U</key>
		<integer>-45</integer>
		<key>V</key>
		<integer>-92</integer>
		<key>W</key>
		<integer>-45</integer>
		<key>Y</key>
		<integer>-74</integer>
		<key>p</key>
		<integer>-18</integer>
		<key>quotedblright</key>
		<integer>-129</integer>
		<key>quoteright</key>
		<integer>-92</integer>
		<key>u</key>
		<integer>-45</integer>
		<key>v</key>
		<integer>-65</integer>
		<key>w</key>
		<integer>-55</integer>
		<key>y</key>
		<integer>-80</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>A</key>
		<integer>-24</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>A</key>
		<integer>-24</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-55</integer>
		<key>W</key>
		<integer>-24</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>a</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-111</integer>
		<key>e</key>
		<integer>-37</integer>
		<key>o</key>
		<integer>-45</integer>
		<key>period</key>
		<integer>-111</integer>
		<key>r</key>
		<integer>-18</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-12</integer>
		<key>comma</key>
		<integer>-45</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-45</integer>
		<key>u</key>
		<integer>-37</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>O</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-37</integer>
		<key>o</key>
		<integer>-37</integer>
		<key>u</key>
		<integer>-55</integer>
		<key>y</key>
		<integer>-111</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-92</integer>
		<key>V</key>
		<integer>-92</integer>
		<key>W</key>
		<integer>-74</integer>
		<key>Y</key>
		<integer>-92</integer>
		<key>quotedblright</key>
		<integer>-165</integer>
		<key>quoteright</key>
		<integer>-129</integer>
		<key>y</key>
		<integer>-92</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>A</key>
		<integer>-24</integer>
		<key>comma</key>
		<integer>-24</integer>
		<key>period</key>
		<integer>-24</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-37</integer>
		<key>T</key>
		<integer>-37</integer>
		<key>V</key>
		<integer>-55</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-55</integer>
		<key>comma</key>
		<integer>-37</integer>
		<key>period</key>
		<integer>-37</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-74</integer>
		<key>a</key>
		<integer>-24</integer>
		<key>comma</key>
		<integer>-129</integer>
		<key>e</key>
		<integer>-24</integer>
		<key>o</key>
		<integer>-24</integer>
		<key>period</key>
		<integer>-129</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>O</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-55</integer>
		<key>U</key>
		<integer>-37</integer>
		<key>V</key>
		<integer>-92</integer>
		<key>W</key>
		<integer>-55</integer>
		<key>Y</key>
		<integer>-60</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>comma</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-55</integer>
		<key>O</key>
		<integer>-24</integer>
		<key>a</key>
		<integer>-74</integer>
		<key>acircumflex</key>
		<integer>-19</integer>
		<key>agrave</key>
		<integer>-19</integer>
		<key>aring</key>
		<integer>-37</integer>
		<key>atilde</key>
		<integer>-19</integer>
		<key>colon</key>
		<integer>-55</integer>
		<key>comma</key>
		<integer>-74</integer>
		<key>e</key>
		<integer>-74</integer>
		<key>ecircumflex</key>
		<integer>-37</integer>
		<key>edieresis</key>
		<integer>-37</integer>
		<key>egrave</key>
		<integer>-37</integer>
		<key>h</key>
		<integer>-24</integer>
		<key>hyphen</key>
		<integer>-92</integer>
		<key>i</key>
		<integer>-55</integer>
		<key>iacute</key>
		<integer>-28</integer>
		<key>o</key>
		<integer>-74</integer>
		<key>ocircumflex</key>
		<integer>-56</integer>
		<key>odieresis</key>
		<integer>-37</integer>
		<key>ograve</key>
		<integer>-56</integer>
		<key>period</key>
		<integer>-74</integer>
		<key>r</key>
		<integer>-74</integer>
		<key>semicolon</key>
		<integer>-55</integer>
		<key>u</key>
		<integer>-111</integer>
		<key>udieresis</key>
		<integer>-56</integer>
		<key>ugrave</key>
		<integer>-83</integer>
		<key>w</key>
		<integer>-129</integer>
		<key>y</key>
		<integer>-150</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>comma</key>
		<integer>-45</integer>
		<key>period</key>
		<integer>-45</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-74</integer>
		<key>G</key>
		<integer>-45</integer>
		<key>O</key>
		<integer>-55</integer>
		<key>a</key>
		<integer>-74</integer>
		<key>acircumflex</key>
		<integer>-56</integer>
		<key>adieresis</key>
		<integer>-37</integer>
		<key>agrave</key>
		<integer>-56</integer>
		<key>aring</key>
		<integer>-56</integer>
		<key>atilde</key>
		<integer>-56</integer>
		<key>colon</key>
		<integer>-74</integer>
		<key>comma</key>
		<integer>-111</integer>
		<key>e</key>
		<integer>-80</integer>
		<key>edieresis</key>
		<integer>-40</integer>
		<key>egrave</key>
		<integer>-60</integer>
		<key>hyphen</key>
		<integer>-74</integer>
		<key>i</key>
		<integer>-45</integer>
		<key>icircumflex</key>
		<integer>-23</integer>
		<key>o</key>
		<integer>-74</integer>
		<key>odieresis</key>
		<integer>-56</integer>
		<key>period</key>
		<integer>-111</integer>
		<key>semicolon</key>
		<integer>-74</integer>
		<key>u</key>
		<integer>-55</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-55</integer>
		<key>adieresis</key>
		<integer>-41</integer>
		<key>colon</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-55</integer>
		<key>e</key>
		<integer>-55</integer>
		<key>h</key>
		<integer>-24</integer>
		<key>hyphen</key>
		<integer>-55</integer>
		<key>i</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-60</integer>
		<key>odieresis</key>
		<integer>-45</integer>
		<key>period</key>
		<integer>-55</integer>
		<key>semicolon</key>
		<integer>-37</integer>
		<key>u</key>
		<integer>-30</integer>
		<key>udieresis</key>
		<integer>-23</integer>
		<key>y</key>
		<integer>-55</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-55</integer>
		<key>O</key>
		<integer>-45</integer>
		<key>S</key>
		<integer>-37</integer>
		<key>a</key>
		<integer>-74</integer>
		<key>colon</key>
		<integer>-55</integer>
		<key>comma</key>
		<integer>-74</integer>
		<key>e</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-92</integer>
		<key>i</key>
		<integer>-37</integer>
		<key>o</key>
		<integer>-80</integer>
		<key>odieresis</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-74</integer>
		<key>semicolon</key>
		<integer>-55</integer>
		<key>u</key>
		<integer>-74</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>b</key>
		<integer>-12</integer>
		<key>t</key>
		<integer>-12</integer>
		<key>v</key>
		<integer>-24</integer>
		<key>w</key>
		<integer>-24</integer>
		<key>y</key>
		<integer>-55</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>u</key>
		<integer>-12</integer>
		<key>v</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>comma</key>
		<integer>18</integer>
		<key>period</key>
		<integer>18</integer>
		<key>y</key>
		<integer>-18</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>quotedblright</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-24</integer>
		<key>space</key>
		<integer>-45</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>v</key>
		<integer>-24</integer>
		<key>w</key>
		<integer>-24</integer>
		<key>y</key>
		<integer>-37</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>b</key>
		<integer>-12</integer>
		<key>p</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-24</integer>
		<key>w</key>
		<integer>-18</integer>
		<key>x</key>
		<integer>-18</integer>
		<key>y</key>
		<integer>-37</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>o</key>
		<integer>-18</integer>
		<key>quoteright</key>
		<integer>37</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>a</key>
		<integer>-18</integer>
		<key>o</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-24</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>y</key>
		<integer>-37</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>v</key>
		<integer>-24</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>e</key>
		<integer>-24</integer>
		<key>o</key>
		<integer>-24</integer>
		<key>y</key>
		<integer>-37</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>w</key>
		<integer>-24</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>u</key>
		<integer>-18</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>u</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>v</key>
		<integer>-24</integer>
		<key>w</key>
		<integer>-18</integer>
		<key>x</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>quotedblright</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-24</integer>
		<key>space</key>
		<integer>-45</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>A</key>
		<integer>-129</integer>
	</dict>
	<key>quotedblright</key>
	<dict>
		<key>space</key>
		<integer>-129</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>A</key>
		<integer>-92</integer>
		<key>quoteleft</key>
		<integer>-74</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>d</key>
		<integer>-111</integer>
		<key>quoteright</key>
		<integer>-74</integer>
		<key>r</key>
		<integer>-37</integer>
		<key>s</key>
		<integer>-55</integer>
		<key>t</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-24</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-30</integer>
		<key>c</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-55</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-37</integer>
		<key>hyphen</key>
		<integer>-55</integer>
		<key>k</key>
		<integer>-30</integer>
		<key>l</key>
		<integer>-24</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>p</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-55</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>s</key>
		<integer>-18</integer>
		<key>u</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-24</integer>
		<key>y</key>
		<integer>-37</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>w</key>
		<integer>-24</integer>
	</dict>
	<key>semicolon</key>
	<dict>
		<key>space</key>
		<integer>-37</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>A</key>
		<integer>-37</integer>
		<key>T</key>
		<integer>-74</integer>
		<key>V</key>
		<integer>-74</integer>
		<key>W</key>
		<integer>-55</integer>
		<key>Y</key>
		<integer>-92</integer>
		<key>quotedblleft</key>
		<integer>-74</integer>
		<key>quoteleft</key>
		<integer>-37</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-24</integer>
		<key>comma</key>
		<integer>-55</integer>
		<key>e</key>
		<integer>-24</integer>
		<key>o</key>
		<integer>-24</integer>
		<key>period</key>
		<integer>-55</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-12</integer>
		<key>comma</key>
		<integer>-55</integer>
		<key>e</key>
		<integer>-12</integer>
		<key>h</key>
		<integer>-12</integer>
		<key>o</key>
		<integer>-18</integer>
		<key>period</key>
		<integer>-55</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>-24</integer>
		<key>comma</key>
		<integer>-74</integer>
		<key>e</key>
		<integer>-24</integer>
		<key>o</key>
		<integer>-24</integer>
		<key>period</key>
		<integer>-74</integer>
	</dict>
</dict>
</plist>
